In [1]:
import pandas as pd
import numpy as np
from sklearn.experimental import enable_iterative_imputer  # noqa
from sklearn.impute import IterativeImputer
from sklearn.linear_model import BayesianRidge

In [2]:
data=pd.read_csv("original datasets/train.csv")

In [3]:
imputer=IterativeImputer(estimator=BayesianRidge(), sample_posterior=True, imputation_order="random")

In [4]:
data.head()

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052590
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,...,NaN,NaN,NaN,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,NaN,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.912194,NaN,NaN,0.049394
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247

In [5]:
galaxies=data.galaxy.unique().tolist()

In [7]:
frames=[]
for galaxy in galaxies:
    df = data.loc[data.galaxy==galaxy, data.columns!= 'galaxy']
    columns=df.columns
    array=df.to_numpy()
    new_array=imputer.fit_transform(array)
    df2 = pd.DataFrame(new_array, columns=columns)
    df2.insert(1, 'galaxy', galaxy)
    frames.append(df2)

transformed_data=pd.concat(frames)

ValueError: Shape of passed values is (19, 77), indices imply (19, 79)

In [6]:
transformed_data.head()

,0,galaxy,1,2,3,4,5,6,7,8,...,69,70,71,72,73,74,75,76,77,78
0,990025.0,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,-189.504701,275.806502,236.820431,...,-700.932545,287.190464,628.152519,-44.246509,-1614.422394,159.792504,-2.981546,0.052590,NaN,NaN
1,991020.0,Large Magellanic Cloud (LMC),0.627245,62.389059,17114.109182,0.503198,9.317262,-318.028467,-1014.355243,-172.696219,...,98.344673,-213.894372,564.237002,-600.211750,-656.229013,-875.107588,-744.503299,0.052115,NaN,NaN
2,992016.0,Large Magellanic Cloud (LMC),0.662135,68.794245,13225.033915,0.692653,8.030645,-1538.677497,-43.583358,934.657590,...,119.302681,-555.706538,-97.761626,-524.112445,2314.911974,427.584936,-562.713308,0.052006,NaN,NaN
3,993012.0,Large Magellanic Cloud (LMC),0.687776,62.848660,9116.133706,0.667264,11.347429,-386.954217,-9.074379,779.548110,...,-579.481679,-501.633595,-541.188247,-648.214348,326.900089,454.264384,163.066469,0.051675,NaN,NaN
4,994009.0,Large Magellanic Cloud (LMC),0.727717,67.482431,3598.172394,0.609830,10.402265,-303.917389,-137.019528,406.927098,...,48.857189,-532.599480,-145.322441,-947.156711,1420.946339,-1587.305103,-135.203637,0.051334,NaN,NaN